<%# app/views/layouts/_footer.html.erb %>
<%# Custom NCAR-style footer inspired by gdex.ucar.edu %>

<%# app/views/layouts/_footer.html.erb %>

<footer role="contentinfo" class="mt-auto ncar-footer">

  <!-- Top dark bar -->
  <div class="ncar-footer-top py-3">
    <div class="container-lg">

        <!-- Links: stacked on mobile, inline on md+ -->
        <ul class="list-unstyled mb-0 d-flex flex-column flex-md-row justify-content-center flex-wrap gap-2 gap-md-4 small">
          <li class="text-white">© UCAR  <%= Time.current.year %> </li>
          <li><a class="link-light text-decoration-none" href="https://www.ucar.edu/web-accessibility">Web Accessibility</a></li>
          <li><a class="link-light text-decoration-none" href="https://www.ucar.edu/cookie-other-tracking-technologies-notice">Cookies</a></li>
          <li><a class="link-light text-decoration-none" href="https://www.ucar.edu/notification-copyright-infringement-digital-millenium-copyright-act">Copyright Issues</a></li>
          <li><a class="link-light text-decoration-none" href="https://www.ucar.edu/who-we-are/ethics-integrity/nondiscrimination">Nondiscrimination</a></li>
          <li><a class="link-light text-decoration-none" href="https://www.ucar.edu/privacy-notice">Privacy</a></li>
          <li><a class="link-light text-decoration-none" href="https://www.ucar.edu/terms-of-use">Terms of Use</a></li>
          <li><a class="link-light text-decoration-none" href="https://ncar.ucar.edu">NSF NCAR Home</a></li>
          <li><a class="link-light text-decoration-none" href="https://www.ucar.edu">UCAR Home</a></li>
        </ul>
    </div>
  </div>

  <!-- Bottom sponsor block -->
  <div class="footer-sponsor ncar-footer-bottom py-4 text-white">
    <div class="container">
      <div class="row align-items-start g-3">
        <div class="col-4 col-sm-3 col-md-2 col-lg-1">
          <a href="https://www.nsf.gov/" target="_blank" rel="noopener">
            <img
              src="<%= @user_configuration.public_url%>/branding/nsf-logo.png"
              alt="National Science Foundation"
              class="img-fluid"
            />
          </a>
        </div>

        <div class="col">
          <p class="mb-0 small">
            This material is based upon work supported by the NSF National Center for Atmospheric Research, a major facility sponsored by the U.S. National Science Foundation and managed by the University Corporation for Atmospheric Research. Any opinions, findings and conclusions or recommendations expressed in this material do not necessarily reflect the views of the National Science Foundation.
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>
