/* Customization for top header custom-header.css */

.org-header
{
  background-color: #ffffff !important;
}

.org-header-logo {
  height: 44px;       /* sets visual size */
  width: auto;
  display: block;
}

/* Slightly smaller on small screens */
@media (max-width: 576px) {
  .org-header-logo {
    height: 38px;
  }
}
